*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .contenedor {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
.header {
    width: 100%;
    height: 75px;
    background: #101922;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0,0,0,0,4);

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo{
    float: left;
    
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo label{
    color: white;
    padding-right: 7px;
}

.logo a{
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    cursor: default;
    float: right;
    text-decoration: none;
    transition: all 500ms ease;
    
}
.logo a:hover{
    color: #ca00ca;
    
}

.logo img{
    max-width: 50px;
    max-height: 50px;
    padding-right: 5px;
    
}
.buscador{
    float: right;
    color: #010041;
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
input{
    border: none;
    height: 25px;
    background-color: #ffffff;
}
input[type="text"] {
    border-radius: 10px 0px 0px 10px;
    text-decoration: none;
    
}
input[type="submit"] {
    transition: all 500ms ease;
    background-color: rgb(0, 238, 255);
    border-radius: 0px 10px 10px 0px;
}
input[type="submit"]:hover{
    color: #000000;
    background-color:  #c903cf;
    box-shadow: #010041 1px 10px 10px 0px;
    
}
  


.menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover{
    color: #ca00ca;
    border-bottom: 4px solid #860065;
}
.capa{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background: 0,0,0,0.4;
    z-index: -1;
    top: 0; left: 0;
}

/*Fin de estilos del header*/

/*Menu lateral*/
#btn-menu{
    display: none;
    color: white;
}

.container-menu{
    position: absolute;
    background: rgba(0,0,0,0, 0.5);
    width: 100%;
    height: 100vh;
    top: 75px; left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    

}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100%;
    
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);

}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: -27px;
    font-size: 18px;
    cursor: pointer;    
    color:#860065;
}
.imagen-perfil{
    display: flex;
    justify-content: center;
}
.cont-menu nav .imagen-perfil img{
    background-color: white;
    max-width: 60px;
    width: auto;
    max-height: 60px;
    height: auto;
    border-radius: 50%;
       
}


/* Div donde se muestran las peliculas*/
.pelicula{
    
    margin: 10px;
    max-width: 150px;
    max-height: 250px;
    
    transition: trasform 300ms all ease;
    .nombre{
        color: white;
    }
}
@media screen and (max-width: 768px) {
    .pelicula {
      width: 150px;
      height: 230px;
    }
    .nombre{
        
        height: 15%;
        
        font-size: 0.8em;
    }
  }
.pelicula:hover{
    transform: scale(1.1);
}
img{
    height: 84%;
    width: 100%;
}
.nombre{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 15%;
    max-height: max-content;
    width: 100%;
    color: rgb(0, 0, 0);  
}
/* Contenedor */
.contenedor {
        height: 900px;
        padding-right: 15%;
        padding-left: 15%;
        background-color: #000000;
    
    .contenedor2{
        
        background-color: #0a0a0a;
        height: 100%;
        padding: 20px;
        

        .tabla{
            
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(255, 255, 255);
            padding: 15px;
            padding-top: 0;
        }
        .tabla td{
            padding-top: 10px;
            border-bottom: white 1px solid;
        }
        .datos{
            padding-left: 20px;
        }
        .img_peli{
            max-height: 400px;
            max-width: 300px;
        }
        .imagen{
            position:static;
            float: left;
            width: fit-content;
            height: fit-content;
            box-shadow:1px 1px 1px 1px #d33939;
        }
        .video{
            position: static;
            float: left;
            .vista{
                margin-top: 10px;
                text-align: center;
                
                background-color: #642664;
                height: 30px;
                width: 100%;
                color: white;
            }
            .reproductor{
                height: 400px;
            }
        }
    }
}






@media screen and (max-width: 820px){
    .contenedor {    
        height: 1000px;
        
        background-color: #000000;
    
        .contenedor2{
            display: grid;
            place-items: center;
            height: 100%;
            width: 100%;
            padding: 10px;
            background-color: #0a0a0a;
        
            .tabla{
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(255, 255, 255);
                padding: 10px;    
            }
            .tabla td{
                padding-top: 10px;
                border-bottom: white 1px solid;
            }
            .datos{
                padding-left: 20px;
            }
            .img_peli{
                max-height: 400px;
                max-width: 300px;   
            }
            .imagen{
                width: fit-content;
                height: fit-content;
                box-shadow:1px 1px 1px 1px #640064;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 20px;
            }
            .video{
                position: static;
                float: left;
                .vista{
                    margin-top: 10px;
                    text-align: center;
                    
                    background-color: #642664;
                    height: 30px;
                    width: 100%;
                    color: white;
                }
                .reproductor{
                    height: 300px;
                }
            }       
        }
    }
}